/* At 500px And below do the following: */
@media (max-width: 500px) {
    nav {
        flex-direction: column-reverse;
        align-items: center;
    }

    nav a {
        padding: 10px !important;
        font-size: 25px;
    }

    .tablet_logo {
        display:none;
    }

    .item1 {
        order: 6;
    }

    .item2 {
        order: 5;
    }
    
    .item3 {
        order: 4;
    }

    .item4 {
        order: 3;
    }

    .item5 {
        order: 2;
    }

    .item6 {
        order: 1;
    }

    .item7 {
        order: 7;
    }

    .main_image {
        display: none;
    }

    .logo {
        width: 125px;
        height: 35px;
        margin-bottom: 2vh;
    }

    .title_1 {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .content_1 {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .content_2 {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

/* At 800px And below do the following: */
@media (max-width: 800px) {
    .item7 {
        display: none;
    }

    .tablet_logo {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
    }

    nav a {
        padding: 30px;
    }

    .main_image {
        display: none;
    }

    .title_1 {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}





